#enquiryModal.enquiry-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-body
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                .enquiry-box
                    form(action="")
                        p.title Enquiry Box
                        .form-item
                          label From Email
                          input(type="email" name="from_email")
                        .form-item
                          label Content
                          textarea(name="content")
                        button.button.button-highlight ENQUIRY
