#forgotPasswordModal.account-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='forgotPasswordModal', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-body
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                .forgot-password
                    form(action="")
                        p.title Retrieve Password
                        p.description Enter your email address and we'll send you a link to reset your password
                        label Email Address&nbsp;
                            span *
                        .email-input.has-icon
                            input(name="email")
                        .recaptcha
                            div.g-recaptcha(data-sitekey="6LeTSD0UAAAAAI5mA9N-2YysqI0nB0kI43Pyb_to")
                        button SUBMIT
