footer
    .footer-columns
        .container
            .footer-column-wrapper.row
                .footer-column.col-lg-2
                    p.title QUICK LINKS
                    p Trident Fleet
                    p Special Packages
                    p Yacht Brokerage
                    p FAQ
                .footer-column.col-lg-3
                    p.title CONTACTS
                    p +65 3163 1367
                    p Republic of Singapore Yacht Club, 52 West Coast Ferry Road, Singapore 126887
                    p
                        a(href="mailto:sales@tridentmarineasia.com") sales@tridentmarineasia.com
                .footer-column.col-lg-2
                    p.title BUSINESS HOURS
                    p 9 a.m till 9 p.m
                .footer-column.col-lg-2
                    p.title FOLLOW US
                    p.social-links
                        a(href="#")
                            i(class="fa fa-facebook" aria-hidden="true")
                        a(href="#")
                            i(class="fa fa-instagram" aria-hidden="true")
                .footer-column.col-lg-3
                    p.title SUBSCRIBE TO NEWSLETTERS
                    form.subscribe-form
                        input(type="email", placeholder="Email Address *")
                        button.button.button-block.button-highlight SIGN UP
    .footer-introduce
        .container
            .introduce
                | With over 100 yachts to choose from around the Asian region, be spoilt for choice with Trident Marine Asia.
    .footer-copyright
        .container
            .row
                .payment-methods.col-lg-6
                    li We accept payment via
                    li
                        img(src="../images/visa-icon.png")
                    li
                        img(src="../images/mastercard-icon.png")
                    li
                        img(src="../images/paypal-icon.png")
                .copyright.col-lg-6
                    span &copy; 2017 Trident Marina Asia Pte Ltd. All Rights Reserved.
