header
    .header-wrapper
        .control-buttons-wrapper
            .container
                .control-buttons
                    .phone-number
                        a(href="tel:+65 3163 1367")
                            i(class="fa fa-phone" aria-hidden="true")
                            span Call +65 3163 1367
                    .email
                        a(href="mailto:sales@tridentmarineasia.com")
                            i(class="fa fa-envelope" aria-hidden="true")
                            span sales@tridentmarineasia.com
                    .login-region
                        a.menu-item(href="#" data-toggle="modal" data-target="#loginModal") Login
                        span.has-menu.menu-item
                            | Menu
                            div.dropdown
                                a(href="") Testtttt 1 2 3 3 4 43 3 3 
                                a(href="") Testtttt 1 2 3
                                a(href="") Testtttt 1 2 3
                        a.menu-item(href="#" data-toggle="modal" data-target="#registerModal") Register
                        a.menu-item(href="faq.html") FAQ
        .menu-wrapper
            .container
                nav.navbar.navbar-expand-lg.navbar-light
                    a.navbar-brand(href="index.html").logo
                        img(src="../images/logo.png", alt="Trident Marine Asia")
                    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#pageNav", aria-controls="pageNav", aria-expanded="false", aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    #pageNav.collapse.navbar-collapse
                        ul.navbar-nav
                            li.nav-item.menu-item.trident-fleet.active
                                a(href="#") TRIDENT FLEET
                                .trident-fleet-filter
                                    .trident-fleet-item
                                        a(href="trident-fleet.html")
                                            img(src="../images/nav-trident-fleet/1.png")
                                            p MONOHULL
                                    .trident-fleet-item
                                        a(href="#")
                                            img(src="../images/nav-trident-fleet/2.png")
                                            p CATAMARAN
                                    .trident-fleet-item
                                        a(href="#")
                                            img(src="../images/nav-trident-fleet/3.png")
                                            p SUPER YACHTS
                            li.nav-item.menu-item
                                a(href="special-packages.html") SPECIAL PACKAGES
                            li.nav-item.menu-item
                                a(href="f-b.html") F&B
                            li.nav-item.menu-item
                                a(href="trident-life-style.html") TRIDENT LIFESTYLE
                            li.nav-item.menu-item
                                a(href="yacht-brokerage.html") YACHT BROKERAGE
                            li.nav-item.menu-item
                                a(href="yacht-management.html") YACHT MANAGEMENT
                            li.nav-item.menu-item
                                a(href="#") BOOKING CALENDAR
                            li.nav-item.menu-item
                                a(href="contact.html") CONTACT US
