extends partials/_layout

block append content
    .my-booking-page.bottom-background
        .page-nav.account-page-nav
            .container
                .wrapper
                    .breadcrumb-wrapper
                        .page-breadcrumb
                            ol.breadcrumb
                                li.breadcrumb-item
                                    a(href='#') Home
                                li.breadcrumb-item.active My Charters
        .page-content.account-page-content
            .container
                .page-wrapper
                    h1.account-page-title My Bookings
                    .row
                        .col-lg-8
                            .boat-list-search
                                h2 Search Booking
                                form
                                    .filter
                                        .row.row-item
                                            .col-lg-12
                                                span.filter-item Boat:
                                                select
                                                    option(value="") Select Boat
                                        .row.row-item
                                            .col-lg-12
                                                span.filter-item Booked For:
                                                span From
                                                input.datepicker-element(type="text")
                                                span to
                                                input.datepicker-element(type="text")
                                                span (yyyy-mm-dd)
                                    .submit
                                        button.button.button-highlight SEARCH NOW
                    .row
                        .col-lg-12
                            .boat-list-filter
                                .row
                                    .col-md-8
                                        a(href="#") All (4)
                                        span.separate |
                                        a(href="#") Completed (1)
                                        span.separate |
                                        a(href="#") Pending (3)
                                    .col-md-4.text-right
                                        | Found #[span.color-highlight 3] records. Showing #[span.color-highlight 1] to #[span.color-highlight 3]
                        .col-lg-12
                            .table-responsive
                                table.boat-list-table
                                    thead
                                        tr
                                            th Book ID
                                            th Boat Name
                                            th Payment Price
                                            th Address
                                            th Status
                                            th Date Added
                                            th Booked For
                                            th Rating
                                            th Print
                                    tbody
                                        tr
                                            td A67
                                            td Rainbow
                                            td $1712.00
                                            td
                                                p The Republic of Singapore
                                                p Yacht Club // Singapore
                                            td
                                                span.payment-status.pending Pending Payment
                                            td 12/06/2017
                                            td
                                                p 05/08/2018
                                                p Start: 9AM
                                                p End: 1PM
                                                p 4 Hours
                                            td R+
                                            td
                                                a.print-button(href="#")
                                        tr
                                            td A67
                                            td Rainbow
                                            td $1712.00
                                            td
                                                p The Republic of Singapore
                                                p Yacht Club // Singapore
                                            td
                                                span.payment-status.pending Pending Payment
                                            td 12/06/2017
                                            td
                                                p 05/08/2018
                                                p Start: 9AM
                                                p End: 1PM
                                                p 4 Hours
                                            td R+
                                            td
                                                a.print-button(href="#")
                                        tr
                                            td A67
                                            td Rainbow
                                            td $1712.00
                                            td
                                                p The Republic of Singapore
                                                p Yacht Club // Singapore
                                            td
                                                span.payment-status.pending Pending Payment
                                            td 12/06/2017
                                            td
                                                p 05/08/2018
                                                p Start: 9AM
                                                p End: 1PM
                                                p 4 Hours
                                            td R+
                                            td
                                                a.print-button(href="#")
                                        tr
                                            td A67
                                            td Rainbow
                                            td $1712.00
                                            td
                                                p The Republic of Singapore
                                                p Yacht Club // Singapore
                                            td
                                                span.payment-status.paid Paid
                                            td 12/06/2017
                                            td
                                                p 05/08/2018
                                                p Start: 9AM
                                                p End: 1PM
                                                p 4 Hours
                                            td R+
                                            td
                                                a.print-button(href="#")