extends partials/_layout

block append content
    .special-packages-page
        .package-header-wrapper
            .background
                img(src="../images/special-packages/1.jpg")
            .wrapper
                .container
                    .breadcrumb-wrapper
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href='#') Home
                            li.breadcrumb-item.active Special Packages
                    .page
                        .title
                            | SPECIAL&nbsp;
                            strong PACKAGES
                        .description
                            p Looking for something more with your charter? Check out the myriad of packages we have #[strong available for you!]
                        img.arrow-down(src="../images/special-packages/arrow-down.png", alt="")
        .special-packages
            .package.weekend-gateway
                .background
                    img(src="../images/special-packages/2.jpg", alt="")
                .wrapper
                    .container
                        .row.justify-content-end
                            .col-lg-6
                                p.package-title WEEKEND GATEAWAY
                                .row
                                    .col-lg-6
                                        p.text-1 Promotion Date:
                                        p.text-2 17 Aug till 25 Sept, 2017
                                    .col-lg-6
                                        p.text-1 Location:
                                        p.text-2 Singapore
                                p.package-description
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .buttons
                                    a.button.button-highlight(href="#") More Info
                                    p.price From #[strong $2,500]
            .package.solemnization
                .background
                    img(src="../images/special-packages/3.jpg", alt="")
                .wrapper
                    .container
                        .row
                            .col-lg-6
                                p.package-title SOLEMNIZATIONS
                                .row
                                    .col-lg-6
                                        p.text-1 Promotion Date:
                                        p.text-2 17 Aug till 25 Sept, 2017
                                    .col-lg-6
                                        p.text-1 Location:
                                        p.text-2 Singapore
                                p.package-description
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .buttons
                                    a.button.button-highlight(href="#") More Info
                                    p.price From #[strong $4,500]
            .package.team-building
                .background
                    img(src="../images/special-packages/4.jpg", alt="")
                .wrapper
                    .container
                        .row.justify-content-end
                            .col-lg-6
                                p.package-title CORPORATE TEAM BUILDING
                                .row
                                    .col-lg-6
                                        p.text-1 Promotion Date:
                                        p.text-2 17 Aug till 25 Sept, 2017
                                    .col-lg-6
                                        p.text-1 Location:
                                        p.text-2 Singapore
                                p.package-description
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                .buttons
                                    a.button.button-highlight(href="#") More Info
                                    p.price From #[strong $4,500]
        .custom-trip
            .background
                img(src="../images/special-packages/5.jpg")
            .wrapper
                .container
                    p.title WANT TO CUSTOMISE YOUR OWN TRIP?
                    p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    a.button.button-highlight(href="#") GO TO TRIDENT FLEET
