extends partials/_layout

block append content
    .trident-life-style-page
        .trident-life-style-header
            .container
                .wrapper
                    .page-navigation
                        .breadcrumb-wrapper
                            ol.breadcrumb
                                li.breadcrumb-item
                                    a(href='#') Home
                                li.breadcrumb-item.active Trident Lifestyle
                    .page-title
                        | TRIDENT #[strong LIFESTYLE]
                    .video-section
                        .video-title
                            | Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet.
                        .videos
                            .row
                                .col-md-4
                                    .video
                                        a(href="#")
                                            img(src="../images/trident-life-style/video_1.jpg", alt="")
                                .col-md-4
                                    .video
                                        a(href="#")
                                            img(src="../images/trident-life-style/video_2.jpg", alt="")
                                .col-md-4
                                    .video
                                        a(href="#")
                                            img(src="../images/trident-life-style/video_3.jpg", alt="")

        .trident-life-style
            .trident-1.half-split
                .container-fluid
                    .row
                        .col-md-6
                            .container.left-section
                                .row
                                    .col-md-6.offset-md-6
                                        .section-content
                                            p.title THE FIRST TIME
                                            p.sub-title GUIDE TO THE SEA
                                            p.sub-header SUBHEADER TITLE HERE
                                            p.content
                                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            | Suspendisse tristique efficitur sem, aliquam gravida nibh vulputate sed.
                                            | Etiam aliquet odio eu semper tincid.
                                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            | Suspendisse tristique efficitur sem, aliquam gravida nibh vulputate sed.
                                            | Etiam aliquet odio eu semper tincid.
                                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            | Suspendisse tristique efficitur sem, aliquam gravida nibh vulputate sed.
                                            | Etiam aliquet odio eu semper tincid
                        .col-md-6.background
                            img(src="../images/trident-life-style/1.jpg", alt="")
            .trident-2.wow.slideInUp(data-wow-delay="100ms")
                .container
                    p.title WHAT TO EXPECT
                    p.content
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    a.button.button-highlight(href="#") ENQUIRE NOW
            .trident-3.half-split.wow.slideInUp(data-wow-delay="100ms")
                .container-fluid
                    .row
                        .col-md-6.background
                            img(src="../images/trident-life-style/2.jpg", alt="")
                        .col-md-6
                            .right-section
                                .container
                                    .row
                                        .col-md-6
                                            .section-content
                                                p.title DO’S & DONT’S
                                                p.sub-title AT TRIDENT
                                                p.sub-header SUBHEADER TITLE HERE
                                                p.content
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                | Suspendisse tristique efficitur sem, aliquam gravida nibh vulputate sed.
                                                | Etiam aliquet odio eu semper tincid.
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                | Suspendisse tristique efficitur sem, aliquam gravida nibh vulputate sed.
                                                | Etiam aliquet odio eu semper tincid.
                                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                | Suspendisse tristique efficitur sem, aliquam gravida nibh vulputate sed.
                                                | Etiam aliquet odio eu semper tincid
            .trident-4.half-split.wow.slideInUp(data-wow-delay="100ms")
                .container-fluid
                    .row
                        .col-md-6
                            .container.left-section
                                .row
                                    .col-md-6.offset-md-6
                                        .section-content
                                            p.title THINGS TO BRING
                                            p.sub-title DURING SEA TRIP
                                            p.sub-header SUBHEADER TITLE HERE
                                            p.content
                                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            | Suspendisse tristique efficitur sem, aliquam gravida nibh vulputate sed.
                                            | Etiam aliquet odio eu semper tincid.
                                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            | Suspendisse tristique efficitur sem, aliquam gravida nibh vulputate sed.
                                            | Etiam aliquet odio eu semper tincid.
                                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            | Suspendisse tristique efficitur sem, aliquam gravida nibh vulputate sed.
                                            | Etiam aliquet odio eu semper tincid
                        .col-md-6.background
                            img(src="../images/trident-life-style/1.jpg", alt="")
